.container {
    display: grid;
    grid-template-columns: 1fr 100px 2fr;
    grid-template-rows: 50px 50px;
    width: 100%;
    
    font-size: 20px;
    background-color: LightGray;
}
.d1 { background-color: rgb(45, 221, 240); }
.d2 { background-color: salmon; }
.d3 { background-color: rgb(240, 157, 32); }
.d4 { background-color: rgb(220, 20, 227); }
.d5 { background-color: rgb(5, 109, 7); }
